.console{
    background-color: red;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

.console .box{
    background-color: yellow;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.console .box .top{
    background-color: purple;
    flex-grow: 1;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.console .box .content{
    background-color: green;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.console .box .bottom{
    background-color: cornflowerblue;
    height: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.console .box .bottom a{
    border: 1px solid black;
    padding: 10px 20px;
}